.quiz {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz__loading {
  width: 100%;
  height: 100vh;
  background-color: #4D5B9E;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}

.quiz__footer {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  color: var(--textBlue-color);
}

.quiz__header {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.quiz__checkBtn {
  align-self: center;
  font-weight: 600;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--darkBlue-color);
  border-style: none;
  color: var(--white-color);
}

.quiz__score {
  font-size: 1.5rem;
  align-self: center;
}

.lowerBlob {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 10%;
}

.upperBlob {
  position: absolute;
  top: 0;
  right: 0; 
  z-index: 0;
  height: 10%;
}